* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    scrollbar-color: #3e4144 #16181c;
    ;
}

.loader {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #001f35;
    z-index: 9999;
    transition: all 1s;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #ffffff;
    border-color: #ffffff transparent #ffffff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*//////Start Menu//////*/
#menu {
    /*Barra de menú*/
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 999;
    background: linear-gradient(to right, #000929, #003a61);
    box-shadow: 0px 5px 10px black;
    transition: background 1.5s;
}

#menu .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 100%;
}

#menu .logo img {
    height: 80%;
    cursor: pointer;
}

#menu .svg-icon {
    height: 100%;
    cursor: pointer;
    transition: all .1s;
}

#menu .menu_colapse {
    display: none;
    width: 20vw;
    height: 100%;
}

#menu .items {
    /*Contenedor items menú*/
    display: flex;
    width: 80vw;
    height: 100%;
}

#menu .items .menu-col {
    /*Propiedades ul menú*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#menu .logo-menu {
    /*Logos menú*/
    display: inline-flex;
    height: 60%;
    margin-right: 10px;
}

#menu .items li,
.logo a {
    /*Items li menú*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
}

#menu .items h1 {
    /*Hipervínculos menú*/
    color: white;
    font-size: 17px;
}

#menu .items a {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

#menu .items li:hover {
    /*Animación items menú*/
    scale: 1.1;
    text-shadow: 5px 5px 5px #212121;
    border-bottom: solid 7px #005ccd;
    background-color: #000a3879;
}

#menu .items li:active {
    scale: 1;
}

/* Start Banner */
.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../img/banner/fondo.png);
}

.opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000085;
}

.banner-content {
    display: flex;
    position: absolute;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h1 {
    font-size: 60px;
    color: white;
    border-bottom: 2px solid white;
}

.title h2 {
    font-size: 28px;
    color: white;
}

.text-banner {
    width: 70%;
}

.text-banner p {
    text-align: justify;
    padding-top: 20px;
    font-size: 25px;
    color: white;
}

.images {
    display: flex;
    flex-direction: column;
    padding: 1%;
    left: 50%;
}

.grid-banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8%;
}

.grid-item img {
    width: 100%;
    box-shadow: 5px 5px 0px #00192a;
    cursor: pointer;
    transition: all .2s;
}

.grid-item img:hover {
    scale: 1.05;
}

.grid-item img:active {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px #000000;
}

.more {
    text-align: center;
    position: relative;
    margin-top: 30px;
    background-color: #ffffff;
    color: #00243e;
    box-shadow: 5px 5px #0062d1;
    padding: 13px 23px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    transition: all .2s;
}

.more:hover {
    /*Animación botón comprar*/
    background-color: #0062d1;
    color: #ffffff;
    box-shadow: 5px 5px #ffffff;
    scale: 1.1;
}

.more:active {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px #000000;
}

/*----- Container -----*/
section {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

/*----- Images -----*/
.container h1 {
    font-size: 50px;
    color: #001a1f;
    border-bottom: 2px solid #131313;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.text {
    width: 100%;
}

.text p {
    font-size: 20px;
    text-align: justify;
    font-family: 'Comfortaa';
}

.logo-cont {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.logo-cont img {
    width: 100%;
}

.video-cont {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.video-cont iframe {
    width: 840px;
    height: 473px;
}

/*----- Select.html -----*/
#select {
    height: 100vh;
    display: flex;
}

#selProdu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    width: 100%;
    height: 100%;
}

.sel-content {
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    height: 100%;
}

.text-content h1 {
    font-size: 60px;
    color: #001a1f;
    border-bottom: 2px solid #131313;
    text-align: center;
}

.img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.img-content img {
    height: 90%;
}
/*----- Footer -----*/
#footer {
    display: flex;
    justify-content: center;
    background-color: #001e34;
    margin-top: 40px;
    padding-top: 30px;
    bottom: 0px;
}

#footer .grid-item {
    padding: 0px;
}

#footer .grid-item a {
    display: flex;
    justify-content: center;
}

#footer .biglogo-footer {
    width: 50%;
    box-shadow: none;
    transition: all .2s;
}

#footer .biglogo-footer:hover {
    transform: scale(1.05);
}

#footer .logo-footer {
    width: 20%;
    cursor: pointer;
    box-shadow: none;
    transition: all .2s;
}

#footer .logo-footer:hover {
    transform: scale(1.1);
}


#footer h1 {
    color: #cdcdcd;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    border-bottom: none;
    margin: 0px;
}

#footer h2 {
    color: #cdcdcd;
    text-align: justify;
    font-size: 15px;
    padding: 20px;
}

@media screen and (max-width: 640px) {
    .grid-banner {
        width: 90% !important;
    }

    .video-cont iframe {
        height: 200px !important;
    }

    .text-content h1 {
        font-size: 40px !important;
    }

    .img-content {
        align-items: flex-start;
        padding-top: 20px;
    }

    .img-content img {
        height: 80% !important;
    }
}

@media screen and (max-width: 1140px) {

    /* Menú */
    #menu .logo {
        margin-left: 20%;
        width: 60%;
    }

    #menu .menu_colapse {
        display: flex;
        justify-content: center;
    }

    #menu .items {
        display: flex;
        position: absolute;
        margin-top: 50px;
        width: 100%;
        height: auto;
        background-color: #00243ef6;
        right: -100%;
        transition: all .2s;
    }

    #menu .active {
        right: 0%;
    }

    #menu .items ul {
        display: flex;
        flex-direction: column;
    }

    #menu .items li {
        width: 100%;
    }

    #menu .items li:hover {
        /*Animación items menú*/
        scale: 1.2;
        text-shadow: none;
        border-bottom: none;
        background-color: #0000ff00;
    }

    #menu .menu_colapse {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;
    }

    /* Start Banner */
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .grid-banner {
        width: 70%;
    }

    .banner-content {
        position: static;
        width: 100%;
    }

    .title {
        height: auto;
    }

    .title h1 {
        font-size: 35px;
    }

    .title h2 {
        font-size: 22px;
        color: white;
    }

    .text-banner {
        width: 90%;
    }

    .text-banner p {
        font-size: 18px;
    }

    .images {
        height: auto;
        margin-top: 20px;
    }

    .more {
        margin-top: 20px;
        box-shadow: 3px 3px #0062d1;
        padding: 10px 20px;
        font-size: 12px;
    }

    .more:hover {
        box-shadow: 3px 3px #000000;
        scale: 1.05;
    }

    .more:active {
        transform: translate(3px, 3px);
        box-shadow: 0px 0px #000000;
    }

    /*----- Container -----*/
    .container {
        width: 90%;
    }

    .container h1 {
        font-size: 25px;
    }

    .text p {
        font-size: 15px;
    }

    .logo-cont {
        width: 100%;
    }

    .video-cont iframe {
        height: 420px;
    }

    /*----- Images -----*/
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    /*----- Select.html -----*/
    .text-content h1 {
        font-size: 50px;
    }

    /*----- Footer -----*/
    #footer .container {
        display: flex;
        align-items: center;
    }

    #footer .biglogo-footer {
        width: 80%;
    }

    #footer .logo-footer {
        width: 30%;
    }

    #footer h1 {
        color: #cdcdcd;
        text-align: center;
        font-size: 12px;
    }

    #footer h2 {
        color: #cdcdcd;
        font-size: 10px;
    }
    
}